{% extends 'base.html.twig' %}

{% block title %}New Stagiaires{% endblock %}

{% block body %}
    <h1>Création d'un nouveau stagiaire</h1>

    {{ include('stagiaires/_form.html.twig') }}

    <a href="{{ path('app_stagiaires_index') }}">Retour à la liste des stagiaires</a>
{% endblock %}
